<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Data Science 2020 final project</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='vendor/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="{{ url_for('static',filename='css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/swiper/css/swiper.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- THEME STYLES -->
    <link href="{{ url_for('static',filename='css/layout.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Favicon -->
    <link href="{{ url_for('static',filename='img/icon.png') }}" rel="icon">
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

        /*字體*/
        h2,
        h3 {
            font-family: 'cwTeXFangSong', serif !important;
        }
    </style>
</head>
<!-- END HEAD -->

<body>

    <!--========== HEADER ==========-->
    <header class="header navbar-fixed-top">
        <!-- Navbar -->
        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/">About</a></li>
                            <!--li class="nav-item"><a class="nav-item-child nav-item-hover" href="/about">About</a-->
                            </li>
                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/twitter">Twitter data
                                    analysis</a>
                            </li>
                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/political">Political
                                    analysis</a>
                            </li>
                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/classification">
                                    Classification</a></li>
                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/news_recommend">News
                                    Recommendation</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Navbar Collapse -->
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <!--========== END HEADER ==========-->

    <!--========== SLIDER ==========-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <!--li data-target="#carousel-example-generic" data-slide-to="1"></li-->
            </ol>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img class="img-responsive" src="{{ url_for('static',filename='img/1920x1080/00.jpg') }}"
                    alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40">
                            <h1 class="carousel-title">讓美國再次偉大&mdash;唐納&bull;川普</h1>
                            <h4 style="color: rgb(200,200,200);">第二組 2020資料科學期末報告</h4>
                        </div>
                        <!--a href="/products" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Explore</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========== SLIDER ==========-->

    <!--========== PAGE LAYOUT ==========-->
    <!-- Testimonials -->
    <div class="content-lg container">
        <div class="row">
            <div class="col-sm-9">
                <h2>簡介</h2>

                <!-- Swiper Testimonials -->
                <div class="swiper-slider swiper-testimonials">
                    <!-- Swiper Wrapper -->
                    <div class="swiper-wrapper">
                        <!--div class="swiper-slide"-->
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                <div style='color: rgb(71, 71, 71);'>
                                    唐納·川普是美國現任總統，身為世界超級強國的最高領導人，其一言一行往往對美國及世界有著強大的影響力。
                                    當初參選美國時，憑藉一句「讓我們將美國變得再度偉大」的競選口號，加上不時出現的強烈而不一定帶有正確性的言論，煽動人民，順利當選美國總統。
                                    在當選後不改其強勢作風，可謂毀譽參半的最佳代表。
                                </div>
                            </div>
                            <div class="margin-b-20">
                                <div style='color: rgb(71, 71, 71);'>
                                    對於這樣一位美國總統，我們希望能夠分析其言論，以及各媒體對其言論的報導評論，來更加深入了解川普是一個怎麼樣的人，以及圍繞在川普身邊的贊成及反對勢力。
                                </div>
                            </div>
                            <!--p><span class="fweight-700 color-link">Joh Milner</span>, Metronic Customer</p-->
                        </blockquote>
                        <!--/div-->
                    </div>
                    <!-- End Swiper Wrapper -->

                    <!-- Pagination -->
                    <div class="swiper-testimonials-pagination"></div>
                </div>
                <!-- End Swiper Testimonials -->
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Testimonials -->
    <!-- Testimonials -->
    <div class="content-lg container">
        <div class="row">
            <div class="col-sm-9">
                <h2>應用及動機</h2>

                <!-- Swiper Testimonials -->
                <div class="swiper-slider swiper-testimonials">
                    <!-- Swiper Wrapper -->
                    <div class="swiper-wrapper">
                        <!--div class="swiper-slide"-->
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                <div style='color: rgb(71, 71, 71);'>
                                    我們的研究方向主要分為以下三個主題:
                                </div>
                                <ul style='line-height: 30px'>
                                    <li>
                                        <h5>川普Twitter內文分析: </h5>
                                        <div style='color: rgb(187, 187, 187);line-height: 20px;'>
                                            <p>
                                                由於川普強烈的行事作風，他經常會出現一些強烈的字彙。例如面對批評川普的新聞時他會說這是「假新聞」。
                                                而川普也不乏批評前任總統歐巴馬的言論，尤其對「歐巴馬健保」更是持強烈的反對態度。
                                                我們對川普歷年他在twitter所發表言論進行情緒分析，並且視覺化川普的常用字彙，希望能夠了解川普的行事作風。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>川普與歐巴馬和希拉蕊的貼文比較: </h5>
                                        <div style='color: rgb(187, 187, 187);line-height: 20px;'>
                                            <p>
                                                我們統計三位政治人士在推特上的發文次數，並且針對使用字彙進行情緒分析。
                                                並針對特定事件時間附近的發言做統計，得知兩位總統在面對危機或事件時所產生的態度差別</p>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>對新聞媒體的立場進行分類: </h5>
                                        <div style='color: rgb(187, 187, 187);line-height: 20px;'>
                                            <p>
                                                由於川普強烈的言行舉止，媒體報導容易出現無論是親川普或反川普的現象，其中有不少是川普欽定的反川普媒體，
                                                例如川普曾經說日本朝日新聞是「左翼媒體」。我們希望能夠藉由不同媒體報導內容的分析，以找出不同媒體，或者不同單篇報導的立場，
                                                無論是親川普、中立，或反川普的客觀指標。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--p><span class="fweight-700 color-link">Joh Milner</span>, Metronic Customer</p-->
                        </blockquote>
                        <!--/div-->
                    </div>
                    <!-- End Swiper Wrapper -->

                    <!-- Pagination -->
                    <div class="swiper-testimonials-pagination"></div>
                </div>
                <!-- End Swiper Testimonials -->
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Testimonials -->

    <!-- Work -->
    <div class="bg-color-sky-light overflow-h">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>功能</h2>
                    <p>我們網頁提供我們訓練的模型輸出與資料可視化，從上方連結可進入並詳細了解。</p>
                </div>
            </div>
            <!--// end row -->

            <!-- Masonry Grid -->
            <div class="masonry-grid">
                <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8">
                    <!-- Work -->
                    <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="{{ url_for('static',filename='img/sen.png') }}"
                                alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Sentiment Analysis</h3>
                            <p class="color-white margin-b-0">Tweets analysed</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="{{ url_for('static',filename='img/new.png') }}"
                                alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">News word cloud</h3>
                            <p class="color-white margin-b-0">News related to Trump</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="{{ url_for('static',filename='img/twi.png') }}"
                                alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Twitter word cloud</h3>
                            <p class="color-white margin-b-0">Words most used</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".4s">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="{{ url_for('static',filename='img/rec.png') }}"
                                alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">News Recommendation</h3>
                            <p class="color-white margin-b-0">Calculate news simularity</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="{{ url_for('static',filename='img/cod.png') }}"
                                alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Classification</h3>
                            <p class="color-white margin-b-0">LSTM model to calculate stand of input</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
            </div>
            <!-- End Masonry Grid -->
        </div>
    </div>
    <!-- End Work -->

    <!-- Team -->
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>組員</h2>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <!-- Team -->
                <div class="col-sm-3 sm-margin-b-50">
                    <div class="bg-color-white margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="{{ url_for('static',filename='img/770x860/t4.PNG') }}"
                                alt="Team Image">
                        </div>
                    </div>
                    <h4><a href="https://www.facebook.com/profile.php?id=100002442538272">沈友仁</a> <span
                            class="text-uppercase margin-l-20">Designer</span></h4>
                    <p>CS MS NTHU</p>
                    <a class="link" href="#">Read More</a>
                </div>
                <!-- End Team -->
                <!-- Team -->
                <div class="col-sm-3 sm-margin-b-50">
                    <div class="bg-color-white margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="{{ url_for('static',filename='img/770x860/t1.PNG') }}"
                                alt="Team Image">
                        </div>
                    </div>
                    <h4><a href="https://www.facebook.com/profile.php?id=100003483065522">陳宇雯</a> <span
                            class="text-uppercase margin-l-20">Designer</span></h4>
                    <p>CS BS NTHU</p>
                    <a class="link" href="#">Read More</a>
                </div>
                <!-- End Team -->

                <!-- Team -->
                <div class="col-sm-3 sm-margin-b-50">
                    <div class="bg-color-white margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="{{ url_for('static',filename='img/770x860/t2.PNG') }}"
                                alt="Team Image">
                        </div>
                    </div>
                    <h4><a href="https://www.facebook.com/joyce.bhps">黃中鈺</a> <span
                            class="text-uppercase margin-l-20">Designer</span></h4>
                    <p>CS BS NTHU</p>
                    <a class="link" href="#">Read More</a>
                </div>
                <!-- End Team -->

                <!-- Team -->
                <div class="col-sm-3 sm-margin-b-50">
                    <div class="bg-color-white margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src="{{ url_for('static',filename='img/770x860/t3.PNG') }}"
                                alt="Team Image">
                        </div>
                    </div>
                    <h4><a href="https://www.facebook.com/profile.php?id=100000554262330">鄧至</a> <span
                            class="text-uppercase margin-l-20">Designer</span></h4>
                    <p>CS MS NTHU</p>
                    <a class="link" href="#">Read More</a>
                </div>
                <!-- End Team -->

            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Team -->
    <!-- 參考資料-->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 sm-margin-b-50">
            <div style='color: rgb(71, 71, 71);'>
                參考資料:
            </div>
            <ul style='line-height: 20px'>
                <a
                    href="https://medium.com/@cyeninesky3/%E4%BD%BF%E7%94%A8-nltk-%E6%90%AD%E9%85%8D-twitter-api-%E6%8B%BF%E5%8F%96%E7%A4%BE%E7%BE%A4%E8%B3%87%E6%96%99-%E4%BB%A5%E5%B7%9D%E6%99%AE%E7%9A%84-twitter%E8%B3%87%E6%96%99%E7%82%BA%E4%BE%8B-2bd493f452a6">
                    [1] 使用 NLTK 搭配 Twitter API 拿取社群資料：以川普的 Twitter為例</a><br>
                <a href="https://chrome.google.com/webstore/detail/web-scraper/jnhgnonknehpejjnehehllkliplmbmhn">
                    [2] Web Scraper, 2020</a><br>
                <a href="https://www.kaggle.com/adhok93/president-obama/data">
                    [3] President Obama, 2020</a>
                <a
                    href="https://www.semanticscholar.org/paper/VADER%3A-A-Parsimonious-Rule-Based-Model-for-Analysis-Hutto-Gilbert/bcdc102c04fb0e7d4652e8bcc7edd2983bb9576d">
                    [4] VADER: A Parsimonious Rule-Based Model for Sentiment Analysis of Social Media Text </a>
                <a
                    href="https://github.com/akashboghani/ECE143-Political-Sentiment-Analysis/blob/master/Twitter%20Sentiment%20Analysis.pdf">
                    [5] Political-Sentiment-Analysis </a>
                <a href="https://scikit-learn.org/stable/">
                    [6] scikit-learn</a>
            </ul>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- CORE PLUGINS -->
    <script src="{{ url_for('static',filename='vendor/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/jquery-migrate.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"
        type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
    <script src="{{ url_for('static',filename='vendor/jquery.easing.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/jquery.back-to-top.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/jquery.smooth-scroll.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/jquery.wow.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/swiper/js/swiper.jquery.min.js') }}"
        type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/masonry/jquery.masonry.pkgd.min.js') }}"
        type="text/javascript"></script>
    <script src="{{ url_for('static',filename='vendor/masonry/imagesloaded.pkgd.min.js') }}"
        type="text/javascript"></script>

    <!-- PAGE LEVEL SCRIPTS -->
    <!--script src="{{ url_for('static',filename='js/scroll_speed.js') }}" type="text/javascript"></script-->
    <script src="{{ url_for('static',filename='js/layout.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/components/wow.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/components/swiper.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/components/masonry.min.js') }}" type="text/javascript"></script>

</body>
<!-- END BODY -->

</html>